body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007aff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.custom-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-block {
    flex: 0 0 calc(50% - 4%);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left */

}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007aff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backToTop:hover {
    background-color: #0056b3;
}

#textforencoder {
    word-break: break-all;
}

.iframe-container {
    flex: 0 0 calc(50% - 4%);
    margin-bottom: 20px;
    height: auto;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 10px;
}

#title {
    color: #fff;
}
    /* Add some basic styling */
    #custom-menu {
      display: none;
      position: fixed;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      padding: 8px;
      z-index: 1000;
    }

/* Change the color of selected text */
::selection {
    background-color: rgba(60, 255, 0, 0.644);
    /* Change this color to your desired color */
    color: #000000;
    /* Change this color to your desired text color */
}
a::selection{
    background-color:rgba(60, 255, 0, 0.644);
    color:rgb(255, 0, 0);
}
@media only screen and (max-width: 768px) {
    .custom-section {
        flex-direction: column;
    }

    .custom-block,
    .iframe-container {
        flex: 0 0 100%;
        align-items: center;
        justify-content: center;
    }

    iframe {
        width: 100%;
        height: 100vh;
    }
.font {
    color:#ff0000;

}
.container {
    padding: 10px;
}
}
/* Add modern button styling */
.btn {
    background-color: #007aff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #4cafaf;
}

.btn-secondary {
    background-color: #f44336;
}

/* Add styles for small buttons */
.btn-sm {
    font-size: 14px;
}

#custom-menu {
    display: none;
    position: fixed;
    background-color: #ffffffaf;
    border: 1px solid #dddddde0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
    z-index: 1000;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
#custom-menu:hover{
    background-color: #fff;
}
#custom-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

#custom-menu button:hover {
    background-color: #f4f4f4;
}

#custom-menu button:active {
    background-color: #e0e0e0;
}
/* Add this CSS for the fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}
/* Add this CSS for the fade-in and fade-out animations */
.fade-effect {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-effect.active {
    opacity: 1;
    transform: translateY(0);
}